<div class="d-flex w-100 h-100 container-fluid mt-3 mb-3 flex-column">
  <h2>Re-Usable Tables</h2>
  <!-- Default -->
  <div class="mt-4 mx-3">
    <h4>Mat Table Default</h4>
    <div class="card">
      <app-tables [tableColumns]="tableListCols" [tableData]="tableListData" />
    </div>
  </div>
  <!-- Selectable -->
  <div class="mt-4 mx-3">
    <h4>Mat Table - Selectable Rows</h4>
    <div class="card">
      <app-tables
        [tableColumns]="tableListCols2"
        [tableData]="tableListData"
        (onEdit)="editData($event)"
        (onDelete)="deleteData($event)"
        (onDataSelect)="onDataChange($event)"
      />
    </div>
    <div *ngIf="selectedRecords">
      <span *ngFor="let record of selectedRecords" class="card p-3 m-1">
        {{ record | json }}
      </span>
    </div>
  </div>

  <!-- Action -->
  <div class="mt-4 mx-3">
    <h4>Mat Table - Action</h4>
    <div class="card">
      <app-tables
        [tableColumns]="tableListCols3"
        [tableData]="tableListData"
        (onEdit)="editData($event)"
        (onDelete)="deleteData($event)"
        (onDataSelect)="onDataChange($event)"
      />
    </div>
    <div *ngIf="selectedRecords">
      <span *ngFor="let record of selectedRecords" class="card p-3 m-1">
        Edit / Delete-Data {{ record | json }}
      </span>
    </div>
  </div>
</div>
<router-outlet />
